<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/normalize.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.js"></script>

    <title>Weather APP</title>
</head>
<body>
    <section class="weather-container">
        <div class="app">
            <h1>Weather APP</h1>
            <div class="form">
                <form class="formul" action="" method="POST">
                    <input class="holder" type="text" name="city" placeholder="Buscar Ciudad">
                    <input class="buttom" type="submit" value="Buscar">
                </form>
            </div>
        </div>
        {% if city %}
        <div class="city-container-full">
            <div  class="city-container-search">
                <div class="weather-title">
                    <p>El tiempo en <strong>{{ city }}</strong> hoy:</p>
                </div>
                <div class="weather-content">
                    <div>
                        <h3>Temperatura:</h3>
                        <p class="temp-full"><strong>{{ temp }}</strong>°C</p>
                    </div>
                    <img class="clouds" src="../static/img/Clouds.png" alt="Imagen nubes">
                </div>
                <hr>
                <div class="loop">
                    <div class="tempestad">
                        <p>Temperatura Mín./Max.: </p>
                    </div>
                    <div>
                        <p><strong>{{ min_temp }}</strong>° / <strong>{{ max_temp }}</strong>°</p>
                    </div>
                </div>
                <hr>
                <div class="loop">
                    <div>
                        <p>Humedad: </p>
                    </div>
                    <div>
                        <p><strong>{{ humidity }}</strong>%</p>
                    </div>
                </div>
                <hr>
                <div class="loop">
                    <div>
                        <p>Presión: </p>
                    </div>
                    <div>
                        <p><strong>{{ pressure }}</strong>.mb</p>
                    </div>
                </div>
                <hr>
                <div class="loop">
                    <div>
                        <p>Visibilidad: </p>
                    </div>
                    <div>
                        <p><strong>{{ visibility }}</strong> km</p>
                    </div>
                </div>
                <hr>
                <div class="loop">
                    <div>
                        <p>Viento: </p>
                    </div>
                    <div>
                        <p><strong>{{ wind }}</strong> km/h</p>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </section>

<!-- Grid -->
        
    <section id="weather">
        <div class="cities-grid">
            {% for city, date in ciudades.items() %}
            <div class="city-grid">
                <div class="weather-title">
                    <p>El tiempo en <strong>{{ city }}</strong> hoy:</p>
                </div>
                <div class="weather-content">
                    <div>
                        <h3>Temperatura:</h3>
                        <p class="temp-full"><strong>{{ date.temp }}</strong>°C</p>
                    </div>
                    <img class="clouds" src="../static/img/Clouds.png" alt="Imagen nubes">
                </div>
                <hr>
                <div class="loop">
                    <div class="tempestad">
                        <p>Temperatura Mín./Max.: </p>
                    </div>
                    <div>
                        <p><strong>{{ date.min_temp }}</strong>° / <strong>{{ date.max_temp }}</strong>°</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>

</body>
</html>